@import url('https://fonts.googleapis.com/css?family=Varela+Round');

*,*::before,*::after {
  box-sizing: border-box;
}

:root {
  --dark-clr: #261f1f;
  --secondarylight-clr: #FFA559;
  --accent-clr: #FF6000;
  --primarydark-clr: #1b110b;
  --secondarydark-clr: #454545;
}

body {
  height: 100vh;
  background-color: #121212;  
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  transition: padding-left 250ms ease-in-out;
}

.header {
  background-color: var(--primarydark-clr);
  height: 4rem;
  border-bottom : 1px var(--accent-clr) solid;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

body:has(#sidebar-menu-toggle:checked) {
  padding-left: 15%;
}

#sidebar-menu-toggle {
  display: none;
}

#sidebar-menu-toggle:checked ~ .hamburger .fade-right {
  transform: translateX(50%);
  opacity: 0;
}

#sidebar-menu-toggle:checked ~ .hamburger .spin-ccw {
  transform: translateY(calc(15px - 100%)) rotate(-45deg);
}

#sidebar-menu-toggle:checked ~ .hamburger .spin-cw {
  transform: translateY(calc(0px - (15px - 100%))) rotate(45deg);
}

label:has(#sidebar-menu-toggle:not(:checked)) ~ .sidebar {
  transform: translateX(-100%);
}

.hamburger {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 25px;
  width: 30px;
  position: absolute;
  top: 2rem;
  transform: translateY(-50%);
  left: 20px;
}

.hamburger__row {
  height: 5px;
  width: 30px;
  border-radius: 50px;
  background-color: white;
}

.fade-right {
  transition: transform 250ms ease-in-out,
              opacity 250ms ease-in-out;
}

.spin-ccw,.spin-cw {
  transition: transform 250ms ease-in-out;
}

.sidebar {
  position: fixed;
  top: 4rem;
  bottom: 0;
  width: 15%;
  background: rgb(197,168,128);
  background: linear-gradient(200deg, var(--accent-clr) 40%, var(--primarydark-clr)95%, var(--primarydark-clr) 100%);
  transition: transform 300ms ease-in-out;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
}

.sidebar__item {
  width: 100%;
  height: auto;
  /* background-color: red; */
  border-bottom : 1px black solid;
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
}

.sidebar__item:hover {
  background-color: rgba(255, 255, 255, 0.218);
}

.sidebar__item a {
  display: block;
  text-decoration: none;
  padding: 1rem 2rem 1rem 1rem;
  color: white;
  font-size: 1.1rem;
}

.sidebar__item a span {
  color: rgb(255, 197, 197);
}

.title {
  color: white;
  font-family: "Varela Round", sans-serif;
  font-size: 3rem;
  font-weight: 900;
}